---
import { Variable, Tag, Url } from 'djazztro';

import Layout from '@layouts/MainLayout.astro';
---

<style>
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 400px;
        padding: 1rem;
        border: 1px solid #ccc;
        border-radius: 0.5rem;
    }
</style>

<script></script>

<Layout>
    <Url name="home">Back</Url>
    <form class="form" method="post">
        <Tag expression="csrf_token" />
        <Variable expression="form" />
        <button type="submit">Save</button>
    </form>
</Layout>
