---
import { Url, Variable, For } from 'djazztro';

import Layout from '@layouts/MainLayout.astro';
---

<style>
    .title {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }
</style>

<Layout>
    <h1 class="title">Super Cool Todo App</h1>
    <Url name="create">Create Todo</Url>
    <ul>
        <For itemName="todo" sourceList="object_list">
            <li>
                <Url name="update" args="todo.id"><Variable expression="todo|title" /></Url>
            </li>
        </For>
    </ul>
</Layout>
